* {
  box-sizing: border-box;
  font-size: 10px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serifs;
}


:root {
  --gray-00: #fff;
  --gray-99: #010101;
  --background-color: #3b3b4f;
  --phone-cover: black;
  --phone-color: #000;
  --phone-screen: #dfdfe2;
  --submit-btn-color: rgb(0, 71, 27);
  --cancel-btn-color: #e1e6ec;

}

body { 
  background-color: var(--background-color);
}

main{ 
  /* border: 2px solid salmon; */
  width: 40rem;
  height: 60rem;
  margin: 3rem auto 0;
}

h2 {
  text-align: center;
  font-size: 3rem;
  color: var(--gray-00);
}

#phone {
  height: 45rem;
  width: 28rem;
  background-color: var(--phone-color);
  margin: auto;
  border-radius: 2rem;
  padding: 1rem;
}

#camera {
  height: 1rem;
  width: 1rem;
  border-radius: 100%;
  background-color: var(--phone-screen);
  margin: 0rem auto  2rem;
}

#phone-screen {
  margin: 0 auto;
  width: 25rem;
  height: 38rem;
  background-color: var(--phone-screen);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#phone-screen * {
  font-size: 2.2rem;
}

#phone-screen label {
  text-align: center;
  display: block;
  margin: 1.5rem auto ;
}

#user-input {
  display: block;
  margin: 0 auto;
  max-width: 90%;
  height: 5rem;
  border: 2px solid var(--phone-color);
  border-radius: .5rem;
}

#btn-container {
  border-top: 1px solid black;
  position: relative;
  display: grid;
  grid-template-columns:  1fr 1fr ;
  grid-template-rows: auto;
  column-gap: 0;
  row-gap: 0;
  margin: 0;
  padding: 0;
  
}

#btn-container > button {
  height:  5rem;
}

#check-btn {
  background-color: var(--submit-btn-color);
  border: 1px solid var(--submit-btn-color);
  color: var(--gray-00);
  border-collapse: collapse;
}

#clear-btn {
  background-color: var(--cancel-btn-color);
  border: 1px solid var(--cancel-btn-color);
  border-left: 1px solid var(--gray-99);
}

#results-div {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 3rem;
  text-align: center;
  margin: 2rem;
}


.hidden {
  display: none;
}

.valid {
  color: var(--submit-btn-color);
}

.invalid {
  color: saddlebrown;
}